* {
    box-sizing: border-box;
    margin: 0;
}

.seagullImage {
    background-image: url("https://raw.githubusercontent.com/angles-d/HackGT8/main/chipseagull.jpg");
    min-height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    background-attachment: fixed;
}

.mainText {
    font-family: Adamina;
    position: absolute;
	top: 45%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	color: white;
}

.mainH1 {
    text-shadow: 2px 2px 10px #726496;
    font-size: 50px;
    padding-bottom: 30px
}

.turtleImage {
    background-image: url("https://raw.githubusercontent.com/angles-d/HackGT8/main/turtleplastic.jpg");
    min-height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    background-attachment: fixed;
}

.problemText {
    font-family: Adamina;
    position: absolute;
	top: 45%;
	left: 50%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	color: white;
}

.problemH1 {
    text-shadow: 2px 2px 10px #726496;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.problemPara {
    background-color: rgba(3,92,150,.8);
    padding: 40px;
}

.mapDiv {
    background-color: rgb(3,92,150);
    color: rgb(230,230,230);
}

.mapH1 {
    text-shadow: 2px 2px 10px #726496;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.map {
    text-align: center;
    margin: auto;
    background-color: rgba(3,92,150,.8);
}


nav {
    display: flex;
    align-items: center;
}

nav h2 {
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}