* {
    box-sizing: border-box;
    margin : 0;
}

body {
    font-family: "Cambo", sans-serif;
}

.nav-container {
    background: #FFFFFF;
    height: 900px;
}

.wrapper {
    max-width: width: 1440px;
}

nav {
    display: flex;
    align-items: center;
    justify-content;
}

nav .logo {
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}

.header-container {
    color: #B3CEE1 url ADD SEAGULL;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px)
    display: flex;
    align-items: left; 
}
 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 header h1 {
    font-family: Cambo;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 78.5%; 
    color: #B3CEE1;

 }

 header p {
    font-family: Adamina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
 }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           